<div class="d-flex justify-content-between">
  <div class="d-flex">
    <!-- User profile picture -->
    <%= image_tag liker.profile_pic.attached? ? liker.profile_pic : 'user-pp.jpeg', class: "img-thumbnail rounded-circle", style: "width: 2.5rem; max-height: 2.5rem" %>
    <div class="d-flex flex-column mx-3 justify-content-center">
      <!-- Link to user profile with username -->
      <small class="fw-bold" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 10rem">
        <%= link_to liker, class: "a-decoration-none" do %>
          <%= liker.username %>
        <% end %>
      </small>
    </div>
  </div>

  <!-- Follow button -->
  <%= link_to root_path, class:"btn btn-primary", style:"text-decoration:none" do %>
    <small class="fw-bold text-white">Follow</small>
  <% end %>
</div>
